.pokemon-list-wrapper {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pokemon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.controls button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}


/* Media query for friendly layout (example: smaller screens) */
@media (max-width: 768px) {
    .pokemon-wrapper {
        flex-direction: column; /* Stack Pokemon on smaller screens */
        align-items: center; /* Center them horizontally */
    }

    .pokemon-item {
        margin-bottom: 1rem; /* Add some space between stacked items */
        width: 80%; /* Make each item take up more width */
    }
}
